[submodule "demo-sqlite"]
	path = demo-sqlite
	url = https://github.com/Ahacad/demo-sqlite
[submodule "demo-shell"]
	path = demo-shell
	url = https://github.com/Ahacad/demo-shell
[submodule "demo-tcp"]
	path = demo-tcp
	url = https://github.com/Ahacad/demo-tcp
[submodule "demo-bplustree"]
	path = demo-bplustree
	url = https://github.com/Ahacad/demo-bplustree
